@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/containers";
@use "../../abstracts/variables/colors";

.site-header {
    background: colors.$header-background-color;
    padding: 15px;
    z-index: 2;

    @include breakpoints.media-tablet {
        padding: 30px;
        position: relative;
    }

    .header-content {
        align-items: center;
        display: grid;
        grid-template-areas: "last first second";
        grid-template-columns: 40px 1fr 40px;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        padding: 0;
        @include containers.container-width;

        @include breakpoints.media-tablet {
            grid-template-areas: "first second last";
            grid-template-columns: 200px 1fr 30px;
            padding: 0 30px;
        }
        
        h1 {
            margin-bottom: 0;
        }
        
        .site-branding,
        .main-navigation {
            display: flex;
        }

        .site-branding {
            align-items: center;
            display: flex;
            flex-direction: column;
            grid-area: first;
            justify-content: center;

            @include breakpoints.media-tablet {
                align-items: flex-start;
            }

            .custom-logo {
                max-height: 100px;
                width: 100%;
            }

            h1 {
                margin-top: 0;

                &.title-hidden {
                    height: 0;
                    margin: 0;
                    text-indent: -8000px
                }
            }

            .site-description {
                display: none;
                margin: 0;

                @include breakpoints.media-tablet {
                    display: block;
                }
            }
        }
        
        .main-navigation {
            align-items: center;
            grid-area: second;
        }

        .site-search {
            grid-area: last;
        }
    }

    &.header-full .header-content {
        max-width: 100%;
        width: 100%;
    }
}