.site-page:has(.header-side) {
    display: grid;
    grid-template-columns: 1 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include media-tablet {
        grid-template-columns: minmax(300px, 300px) 1fr;
        height: 100vh;
    }

    .site-main {
        padding-bottom: 60px;
        padding-top: 60px;

        @media (min-width: 768px) and (max-width: 1070px) {
            .wp-block-group.is-style-content-container,
            .entry-header,
            .entry-footer,
            .breadcrumbs {
                max-width: 470px;
                width: 470px;
            }

            article.hentry {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(1, 1fr);
                grid-column-gap: 15px;

                .article-content {
                    margin-top: 10px;
                }
            }

            .sticky-posts:has(.sticky-post-2) {
                p {
                    display: block;
                    margin-top: 5px;
                }
            }

            .sticky-posts,
            .sticky-posts:has(.sticky-post-2) {
                display: block;

                .sticky-post {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(1, 1fr);
                    grid-column-gap: 15px;
                    
                    .sticky-post-content {
                        background: transparent;
                        margin-top: 10px;
                        padding: 0;
                        pointer-events: auto;
                        position: relative;
    
                        h2,
                        p,
                        a {
                            color: inherit;
                        }
                    }
                }
            }

            .sidebar {
                display: none;
            }
        }
    }
}