@use "../abstracts/mixins/breakpoints";

.site-main:has(.sidebar) {
    display: block;
    justify-content: center;

    .sidebar {
        display: none;
    }
    
    @include breakpoints.media-tablet {
        display: grid;
        grid-template-columns: 428px 250px;
        grid-column-gap: 30px;
        
        .sidebar {
            display: block;
        }
    }

    @include breakpoints.media-desktop {
        display: grid;
        grid-template-columns: 640px 250px;
        grid-column-gap: 30px;
    }

    .sidebar-content {
        position: sticky;
        top: 30px;
    }
}