body:has(.header-side) {
    .site-footer {
        z-index: 3;
        
        @include media-tablet {
            background: transparent !important;
            bottom: 0;
            padding: 0 30px 30px 30px;
            position: fixed;
            width: 300px;

            .site-info {
                padding: 0;
                width: 100%;
            }
        }
    }
}

.site-footer {
    background: $footer-background-color;
    padding: 30px 0;
    width: 100%;
    
    .site-info {
        @include container-width;

        p {
            font-size: 14px;
            margin: 0;
        }
    }
}