@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/containers";
@use "../../abstracts/variables/colors";

.site-footer {
    background: colors.$footer-background-color;
    padding: 30px 0;
    width: 100%;
    
    .site-info {
        @include containers.container-width;

        p {
            font-size: 14px;
            margin: 0;
        }
    }
}