body .wp-block-search {
    .wp-block-search__input {
        border-radius: 0;
        padding-left: 10px; 
        padding-right: 10px;
    }

    .wp-block-search__button {
        border-radius: 0;
    }
}