.main-navigation {
	display: flex;
	width: 100%;

	#menu-bottom {
		transform: translate(0, 0) rotate(0);
		transition: 0.3s;
	}

	#menu-middle {
		transform: translateX(0);
		transition: 0.3s;
	}

	#menu-top {
		transform: translate(0, 0) rotate(0);
		transition: 0.3s;
	}

	.menu-main-container {
		bottom: 0;
		height: 100vh;
		left: -100%;
		padding: 35px;
		position: fixed;
		top: 0;
		transition: left 0.3s ease-in-out;
		width: 100%;
		z-index: 1;

		@include media-tablet {
			background: none;
			bottom: auto;
			height: auto;
			left: 0;
			padding: 0;
			position: relative;
			top: auto;
			transition: unset;
			z-index: 0;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			top: 100%;

			@include media-tablet {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				position: absolute;
				top: calc(100% + 3px);
				left: -999em;
				z-index: 99999;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 100%;

				@include media-tablet {
					width: 200px;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		font-size: 1.5rem;
		position: relative;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 0;
		}

		@include media-tablet {
			font-size: 1rem;
			margin-bottom: 0;
		}

		&.menu-item-has-children {
			>a:after {
				background: #000;
				clip-path: polygon(100% 0, 100% 30%, 50% 100%, 0 30%, 0 0, 50% 70%);
				content: "";
				display: inline-block;
				height: 15px;
				margin-left: 5px;
				transition: 0.3s ease-in-out;
				width: 20px;

				@include media-tablet {
					height: 10px;
					width: 14px;
				}
			}

			.sub-menu {
				max-height: 0;
				overflow: hidden;
				position: relative;
				left: 30px;

				@include media-tablet {
					left: 0;
					overflow: visible;
					position: absolute;
				}
			}
			
			&.focus {
				>ul.sub-menu {
					margin-top: 10px;
					max-height: 1000px !important;

					@include media-tablet {
						margin-top: 0;
					}
				}

				>a:after {
					transform: rotate(180deg);
				}
			}

			@include media-tablet {
				&:hover {
					>a:after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
	}
}

.menu-toggle {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	position: relative;
	z-index: 20;
}

.main-navigation.toggled {
	.menu-toggle {
		mix-blend-mode: difference;
	}

	#menu-bottom {
		transform: translate(-36%, 11px) rotate(-45deg);
		transition: 0.3s;
	}
	
	#menu-middle {
		transform: translateX(100px);
		transition: 0.3s;
	}
	
	#menu-top {
		transform: translate(31%, 0) rotate(45deg);
		transition: 0.3s;
	}

	.menu-main-container {
		background: #fff;
		bottom: 0;
		height: 100vh;
		left: 0;
		padding: 35px;
		position: fixed;
		top: 0;
	}
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include media-tablet {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: block;
		margin-top: 30px;

		@include media-tablet {
			display: flex;
		}
		
		.nav-previous,
		.nav-next {
			a {
				align-items: center;
				border: 1px solid #ddd;
				display: inline-flex;
				height: 35px;
				max-width: 300px;
				padding: 0 10px;
				text-decoration: none;

				.nav-subtitle {
					margin-right: 5px;
				}
				
				.nav-title {
					justify-content: center;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.nav-previous {
			flex: 1 0 50%;
			margin-bottom: 10px;

			@include media-tablet {
				margin-bottom: 0;
			}
		}
	}
}

@include media-tablet {
	.site-page:has(.header-side) {
		.main-navigation {
			margin-top: 30px;

			ul.menu {
				flex-direction: column;

				li.menu-item {
					margin-bottom: 10px;

					&.menu-item-has-children {
						display: flex;
						flex-direction: column;
						margin-bottom: 0px;

						ul.sub-menu {
							background: transparent;
							box-shadow: none;
							flex-direction: column;
							left: 30px;
							margin-top: 10px;
							max-height: 0;
							overflow: hidden;
							position: relative;
							-webkit-transition: max-height 1s ease-in-out;
							-moz-transition: max-height 1s ease-in-out;
							-ms-transition: max-height 1s ease-in-out;
							-o-transition: max-height 1s ease-in-out;
							transition: max-height 1s ease-in-out;
						}
						
						&:hover {
							> ul.sub-menu {
								max-height: 1000px;
								left: 30px;
							}
						}
					}
				}
			}
		}
	}
}

@include media-tablet {
	.site-page:has(.header-top) {
		.main-navigation {
			ul.menu {
				li.menu-item {
					margin-right: 0;

					@include media-tablet {
						margin-right: 20px;
					}

					&.menu-item-has-children {
						display: flex;
						flex-direction: column;

						ul.sub-menu {
							box-sizing: border-box;
							flex-direction: column;
							max-height: 0;
							overflow-y: hidden;
							-webkit-transition: max-height 1s ease-in-out;
							-moz-transition: max-height 1s ease-in-out;
							-ms-transition: max-height 1s ease-in-out;
							-o-transition: max-height 1s ease-in-out;
							transition: max-height 1s ease-in-out;

							li {
								margin-right: 0;
								border-top: 1px solid rgba(211, 211, 211, 0.3);

								a {
									align-items: center;
									display: flex;
									height: 35px;
									padding: 0 15px;
								}
	
								ul.sub-menu {
									box-shadow: none;
									position: relative;

									li {
										padding-left: 20px;
									}
								}
							}
						}


						&:hover {
							> ul.sub-menu {
								max-height: 1000px;
							}
						}
					}
				}
			}
		}
	}
}