.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include media-tablet {
        display: block;
        justify-content: unset;
    }

    .page-numbers {
        align-items: center;
        border: 1px solid #ddd;
        color: $font-color-main;
        display: none;
        height: 30px;
        justify-content: center;
        text-decoration: none;
        width: 30px;

        &.current {
            background: #eee;
            color: #000;
        }

        @include media-tablet {
            display: inline-flex;
        }
        
        &.next {
            display: inline-flex;
            width: 70px;
        }

        &.prev {
            display: inline-flex;
            width: 100px;
        }
    }
}