h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
	word-wrap: break-word;

	a {
		text-decoration: none;
	}
}

h1 {
	line-height: 35px;
}

h2 {
	line-height: 25px;
}

.single,
.page,
.archive,
.search-results {
	h1 {
		word-break: break-all;

		&:after {
			background: #000;
			background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
			content: "";
			display: block;
			height: 2px;
			margin-top: 15px;
			width: 150px;
		}
	}
}