body,
button,
input,
select,
optgroup,
textarea {
	color: $font-color-main;
	font-family: $font-primary;
	font-size: 1rem;
	font-weight: 200;
	line-height: $line-height-body;
}

@import "headings";
@import "copy";
