a {
	color: $font-color-link;

	&:visited {
		color: $font-color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $font-color-link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
