a {
	color: $font-color-link;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:visited {
		color: $font-color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $font-color-link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
