@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/variables/colors";

.block-posts-compact {
    .wp-block-post-template {
        margin-left: 0;

        .wp-block-post {
            margin-bottom: 30px;

            .wp-block-columns {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(1, 1fr);
                grid-row-gap: 15px;
                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0;
                }
                
                @include breakpoints.media-tablet {
                    grid-template-columns: 300px 1fr;
                    grid-column-gap: 30px;
                }

                @media (min-width: 768px) and (max-width: 1070px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(1, 1fr);
                    grid-row-gap: 15px;
                }

                figure {
                    margin: 0px;

                    img,
                    svg {
                        aspect-ratio: 16 / 9;
                        object-fit: cover;
                    }
                }

                .wp-block-post-title {
                    margin: 0 0 5px 0;

                    a {
                        color: colors.$font-color-main;
                    }
                }

                .wp-block-post-excerpt {
                    margin: 0;

                    p {
                        margin-bottom: 0;
                    }
                }

            }
        }
    }
}