.site-search {
    display: flex;
    margin-top: 0;
    position: relative;
    z-index: 30;

    @include media-tablet {
        margin-top: 30px;
    }

    .search-toggle {
        align-items: center;
        background: none;
        border: none;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 40px;
        padding: 5px;
        position: relative;
        margin: 0;
        width: 40px;
        z-index: 1;

        @include media-tablet {
            height: 35px;
            width: 35px;
        }

        .search-field.search-active {
            max-width: calc(100vw - 30px);
            width: calc(100vw - 30px);

            &::placeholder {
                color: #999;
            }
        }
    }

    form.search-form {
        position: absolute;

        .search-field {
            border: none;
            border-radius: 25px;
            height: 40px;
            min-width: 40px;
            padding: 5px;
            text-indent: 35px;
            transition: width 0.3s ease-in-out;
            width: 0;
            z-index: 30;

            &::placeholder {
                color: transparent;
                transition: color .8s;
            }

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }

            @include media-tablet {
                height: 35px;
                min-width: 35px;
            }

            &.search-active {
                max-width: calc(100vw - 30px);
                width: calc(100vw - 30px);

                &::placeholder {
                    color: #999;
                }
            }
        }

        input.search-submit {
            display: none;
        }

        .search-autocomplete {
            background: #fff;
            border-top: 1px solid #ddd;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            left: 15px;
            list-style: none;
            margin: 0;
            padding: 15px;
            position: absolute;
            right: 15px;

            li {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                    color: $font-color-main;
                }
            }
        }
    }
}

body:has(.main-navigation.toggled) {
    .site-search {
        z-index: 0;
    }
}

@include media-tablet {
    body:has(.header-top) {
        .site-search {
            align-items: center;
            display: flex;
            margin-top: 0 !important;

            .search-toggle {
                right: 5px;

                &:focus-within ~ form {
                    .search-field.search-active {
                        max-width: 300px;
                        width: 300px;
                    }
                }
            }

            .search-field {
                text-indent: 5px;

                &.search-active {
                    max-width: 300px;
                    width: 300px;
                }
            }

            form.search-form {
                right: 0;

                &.search-active {
                    display: block;
                }
            }
        }
    }
}

@include media-tablet {
    body:has(.header-side) {
        .site-search {
            align-items: center;
            display: flex;
            margin-top: 30px;

            .search-toggle {
                left: 0;

                &:focus-within ~ form {
                    .search-field.search-active {
                        max-width: 240px;
                        width: 240px;
                    }
                }
            }

            .search-field {
                text-indent: 35px;

                &.search-active {
                    max-width: 240px;
                    width: 240px;
                }
            }

            form.search-form {
                left: 0;

                &.search-active {
                    display: block;
                }
            }
        }
    }
}

.error404 .site-main .search-form {
    display: flex;

    label {
        margin-right: 10px;

        input {
            height: 40px;
            padding: 0 10px;
            width: 240px;
            
            @include media-tablet {
                width: 300px;
            }
        }
    }
}