@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/mixins/containers";
@use "../../abstracts/variables/colors";

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: flex;
}

body.single .post-thumbnail:not(:has(.featured-full-width)),
body.page .post-thumbnail:not(:has(.featured-full-width)) {
	@include containers.container-width;
}

.post-thumbnail {
	img,
	svg {
		display: block;
		aspect-ratio: 16/9;
		height: auto;
		object-fit: cover;
		width: 100%;
	}

	img {
		&.featured-full-width {
			display: none;

			@include breakpoints.media-tablet {
				display: block;
				height: 300px;
			}
		}
	}
}

.sticky .post-thumbnail {
	position: relative;

	&:before {
		background: #fff;
		color: colors.$font-color-main;
		content: "Featured";
		font-size: 14px;
		font-weight: 400;
		left: 5px;
		top: 5px;
		padding: 2.5px 5px;
		position: absolute;
		z-index: 3;
	}
}

.alignwide,
.alignfull {
	left: -15px;
	max-width: 100vw;
	position: relative;
	width: calc(100% + 30px);

	@include breakpoints.media-tablet {
		left: -30px;
		width: calc(100% + 60px);
	}
}