.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.post-thumbnail {
	img,
	svg {
		display: block;
		aspect-ratio: 16/9;
		height: auto;
		object-fit: cover;
		width: 100%;
	}

	img {
		&.featured-full-width {
			display: none;

			@include media-tablet {
				display: block;
				height: 300px;
			}
		}
	}
}