@font-face {
    font-display: swap;
    font-family: "Nunito Sans";
    src: url("/includes/fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype"), url("/includes/fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
    font-weight: 200 900;
}