body.blog {
    .blog-compact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 0px;

        @include media-tablet {
            grid-template-columns: 300px 1fr;
            grid-column-gap: 30px;
        }

        .post-thumbnail {
            margin-top: 11px;
        }
    }
}