.blog-content:has(.blog-grid) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 15px;

    @include media-tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .blog-grid {
        position: relative;

        > a {
            display: block;
        }
        
        .post-thumbnail {
            margin: 0;

            img,
            svg {
                aspect-ratio: 1 / 1;
                display: block;
                filter: brightness(0.5);
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .article-content {
            box-sizing: border-box;
            inset: 0;
            padding: 15px;
            position: absolute;
            z-index: 1;

            .entry-title {
                line-height: 25px;
                margin-bottom: 0;
            }

            h2,
            a {
                color: #ffffff;
                text-decoration: none;
            }

            h2,
            p,
            span {
                color: #ffffff;
            }

            .entry-content {
                display: none;
            }
        }
    }
    
    .pagination {
        grid-column: span 3;
        margin-top: 15px;

        @include media-tablet {
            margin-top: 0;
        }
    }
}