.site-page:has(.header-side) {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;

    .site-main {
        @include content-width;
    }
}