.page:has(.header-side) {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: calc(100vh - 60px);
}