.sticky-posts {
    border-bottom: solid 1px #ccc;
    display: none;
    margin-bottom: 30px;
    padding-bottom: 8px;

    @include media-tablet {
        display: block;
    }

    .sticky-post {
        display: none;
        margin-bottom: 15px;
        position: relative;

        @include media-tablet {
            display: block;
        }

        .sticky-post-thumbnail {
            figure {
                margin: 0;

                img {
                    aspect-ratio: 16 / 9;
                    width: 100%;
    
                    @include media-tablet {
                        filter: brightness(0.5);
                    }
                }
            }     
        }

        .sticky-post-content {
            position: relative;

            @include media-tablet {
                background: rgba(0, 0, 0, 0.5);
                bottom: 0;
                left: 0;
                padding: 30px;
                pointer-events: none;
                position: absolute;
                right: 0;

                h2,
                p,
                a {
                    color: #fff;
                }

                h2 {
                    margin-bottom: 10px;
                }

                p {
                    margin: 0;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    &:has(.sticky-post-2) {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;

        @include media-tablet {
            display: grid;
        }

        .sticky-post-content {
            h2 {
                margin-bottom: 0;
            }

            p {
                display: none;
            }
        }       
    }

    &:has(.sticky-post-3) {
        display: none;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;

        @include media-tablet {
            display: grid;
        }

        .sticky-post-content {
            h2 {
                margin-bottom: 0;
            }

            p {
                display: none;
            }
        }
    }
}

.blog-content:has(.blog-grid) {
    .sticky-posts {
        grid-column: span 3;
        margin-bottom: -6px;

        .sticky-post {
            margin-bottom: 0;
        }
    }

    hr {
        display: none;
    }
}

.blog-content:has(.sticky-post) {
    article.sticky {
        display: block;
    
        @include media-tablet {
            display: none;
        }
    }
}