@use "../../abstracts/variables/colors";

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	align-items: center;
	border: 1px solid;
	border-color: colors.$border-color-button;
	border-radius: 3px;
	background: colors.$background-color-button;
	color: rgba(0, 0, 0, 0.8);
	display: flex;
	height: 40px;
	justify-content: center;
	line-height: 1;
	padding: 0 15px;

	&:hover {
		border-color: colors.$border-color-button-hover;
	}

	&:active,
	&:focus {
		border-color: colors.$border-color-button-focus;
	}
}

button#load-more {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	cursor: pointer;
	display: block;
	margin: 30px auto 0 auto;
	padding: 10px 20px;
	text-align: center;
}