@use "../../abstracts/variables/colors";

a {
	color: colors.$font-color-link;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:visited {
		color: colors.$font-color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: colors.$font-color-link-hover;
	}

	&:focus {
		outline: 0;
	}

	&:focus-visible {
		outline: dotted 1px;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
