body:has(.header-side) {
    .site-footer {
        z-index: 3;
        
        @include media-tablet {
            background: transparent !important;
            bottom: 0;
            padding: 0 30px 30px 30px;
            position: fixed;
            width: 300px;

            .site-info {
                padding: 0;
                width: 100%;
            }
        }
    }
}

.site-footer {
    width: 100%;

    .site-info {
        @include content-width;
        padding: 30px !important;
    }
}