@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/variables/colors";

.main-navigation {
	display: flex;
	width: 100%;

	#menu-bottom {
		transform: translate(0, 0) rotate(0);
		transition: 0.3s;
	}

	#menu-middle {
		transform: translateX(0);
		transition: 0.3s;
	}

	#menu-top {
		transform: translate(0, 0) rotate(0);
		transition: 0.3s;
	}

	> div {
		bottom: 0;
		height: 100vh;
		left: -100%;
		padding: 35px;
		position: fixed;
		top: 0;
		transition: left 0.3s ease-in-out;
		width: 100%;
		z-index: 1;

		@include breakpoints.media-tablet {
			background: none;
			bottom: auto;
			height: auto;
			left: 0;
			padding: 0;
			position: relative;
			top: auto;
			transition: unset;
			z-index: 0;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			top: 100%;

			@include breakpoints.media-tablet {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				position: absolute;
				top: calc(100% + 3px);
				left: -999em;
				z-index: 99999;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 100%;

				@include breakpoints.media-tablet {
					width: max-content;
				}
			}
		}

		li.focus > ul {
			left: auto;
		}
	}

	li {
		margin-bottom: 10px;
		position: relative;

		&:last-of-type {
			margin-bottom: 0;
		}

		@include breakpoints.media-tablet {
			margin-bottom: 0;
			margin-right: 20px;
		}

		&.page_item_has_children,
		&.menu-item-has-children {
			@include breakpoints.media-tablet {
				display: flex;
				flex-direction: column;
			}
			
			> a {
				&:after {
					background: #000;
					clip-path: polygon(100% 0, 100% 30%, 50% 100%, 0 30%, 0 0, 50% 70%);
					content: "";
					display: inline-block;
					height: 15px;
					margin-left: 5px;
					transition: 0.1s;
					width: 20px;

					@include breakpoints.media-tablet {
						height: 10px;
						width: 14px;
					}
				}
			}

			.children,
			.sub-menu {
				box-sizing: border-box;
				flex-direction: column;
				left: 30px;
				max-height: 0;
				overflow: hidden;
				position: relative;

				@include breakpoints.media-tablet {
					left: 0;
					position: absolute;
					transition: max-height 0s;
					-moz-transition: max-height 0s;
					-ms-transition: max-height 0s;
					-o-transition: max-height 0s;
					-webkit-transition: max-height 0s;

					li {
						margin-right: 0;
	
						a {
							align-items: center;
							display: flex;
							height: 35px;
							padding: 0 15px;
						}
	
						ul.children,
						ul.sub-menu {
							box-shadow: none;
							position: relative;
	
							li {
								padding-left: 20px;
							}
						}

						ul.sub-menu {
							margin-top: 0;
						}
					}
				}
			}
			
			&.focus {
				>ul.children,
				>ul.sub-menu {
					margin-top: 10px;
					max-height: 1000px !important;
				}

				>a:after {
					transform: rotate(180deg);
				}
			}
		}

		a {
			display: block;
			font-size: 1.5rem;
			line-height: 25px;
			padding: 10px 0;
			text-decoration: none;

			@include breakpoints.media-tablet {
				font-size: 1rem;
				line-height: 18px;
				padding: 0;
			}
		}
	}
}

.menu-toggle {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	position: relative;
	z-index: 20;

	&:hover {
		border: 0;
	}
}

.main-navigation.toggled {
	.menu-toggle {
		mix-blend-mode: difference;
	}

	#menu-bottom {
		transform: translate(-36%, 11px) rotate(-45deg);
		transition: 0.3s;
	}
	
	#menu-middle {
		transform: translateX(100px);
		transition: 0.3s;
	}
	
	#menu-top {
		transform: translate(31%, 0) rotate(45deg);
		transition: 0.3s;
	}

	> div {
		background: #fff;
		bottom: 0;
		height: 100vh;
		left: 0;
		padding: 35px;
		position: fixed;
		top: 0;
	}
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@include breakpoints.media-tablet {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: block;
		margin-top: 30px;
		
		@include breakpoints.media-tablet {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}
		
		.nav-previous,
		.nav-next {
			a {
				align-items: center;
				border: solid 1px #ddd;
				color: colors.$font-color-main;
				display: inline-flex;
				height: 35px;
				max-width: 300px;
				padding: 0 10px;
				text-decoration: none;

				.nav-subtitle {
					margin-right: 5px;
				}
				
				.nav-title {
					justify-content: center;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.nav-previous {
			flex: 1 0 50%;
			margin-bottom: 10px;

			@include breakpoints.media-tablet {
				margin-bottom: 0;
			}
		}
	}
}