$background-color-body: #fff;
$background-color-screen: #f1f1f1;
$background-color-hr: #ccc;
$background-color-button: #e6e6e6;
$background-color-pre: #333;
$background-color-ins: #fff9c0;

$header-background-color: #ccc;
$footer-background-color: #ccc;

$font-color-screen: #21759b;
$font-color-input: #666;
$font-color-input-focus: #111;
$font-color-link: #4169e1; //royalblue
$font-color-link-visited: #800080; //purple
$font-color-link-hover: #191970; //midnightblue
$font-color-main: #404040;

$border-color-button: #ccc #ccc #bbb;
$border-color-button-hover: #ccc #bbb #aaa;
$border-color-button-focus: #aaa #bbb #bbb;
$border-color-input: #ccc;
$border-color-abbr: #666;
