.pagination {
    .page-numbers {
        background: #eee;
        border: solid 1px #eee;
        box-shadow: 1px 1px 0 #000;

        &.current {
            background: #ddd;
        }
    }
}

.nav-links a {
    background: #eee;
    border: solid 1px #ddd;
    box-shadow: 2px 2px 0 #000;
}