$font-primary: Helvetica, Arial, sans-serif;

$font-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", courier, monospace;
$line-height-body: 1.5;
$line-height-pre: 1.6;
