 body.blog,
 body.search-results,
 body.archive {
    .site-page {
        .site-main .sticky-posts {
            @include media-tablet {
                .sticky-post {
                    .sticky-post-content {
                        background: #eee;
                        margin-top: 0;
                        padding: 20px;
                        position: relative;

                    }

                    &:after {
                        background: linear-gradient(to right, rgb(0 0 0 / 0%) 0, rgb(0 0 0) 100%);
                        content: "";
                        display: block;
                        bottom: 0;
                        height: 2px;
                        position: absolute;
                        right: 0;
                        width: 90%;
                    }
                }
            }
        }
    }

    .site-page:has(.header-side) {
        .site-main .sticky-posts {
            @media (min-width: 768px) and (max-width: 1070px) {
                .sticky-post {
                    background: #eee;
                    border-bottom: solid 2px #000;
                    border-right: none;

                    &:before,
                    &:after {
                        background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0, rgb(0 0 0) 100%);
                        content: "";
                        display: block;
                        bottom: 0;
                        height: 20%;
                        position: absolute;
                        width: 2px;
                    }

                    &:before {
                        left: 0;
                        top: unset;
                    }

                    &:after {
                        right: 0;
                    }

                    .article-content,
                    .sticky-post-content {
                        margin-top: 0;
                        padding: 20px;
                    }
                }
            }
        }
    }
 }