.comments-area {
    background: #eee;
    border-top: solid 2px #000;
    padding: 30px;
    position: relative;

    &:before {
        background: linear-gradient(to top, rgb(0 0 0 / 0%) 0, rgb(0 0 0) 100%);
        content: "";
        display: block;
        height: 200px;
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
    }
    
    &:after {
        background: linear-gradient(to top, rgb(0 0 0 / 0%) 0, rgb(0 0 0) 100%);
        content: "";
        display: block;
        height: 200px;
        right: 0;
        position: absolute;
        top: 0;
        width: 2px;
    }

    .comment-list {
        .comment-body {
            border: none;
            position: relative;

            &:after {
                background: linear-gradient(to left, rgb(0 0 0 / 0%) 0, rgb(0 0 0) 100%);
                content: "";
                bottom: -7px;
                display: block;
                height: 2px;
                left: 0;
                position: absolute;
                width: 90%;
            }
        }
    }
}