@use "../../abstracts/mixins/breakpoints";
@use "../../abstracts/variables/colors";

.site-search {
    display: flex;
    margin-top: 0;
    position: relative;
    z-index: 30;

    @include breakpoints.media-tablet {
        align-items: center;
        display: flex;
        margin-top: 0 !important;
    }

    .search-toggle {
        align-items: center;
        background: none;
        border: none;
        border-radius: 50%;
        box-shadow: none;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 40px;
        padding: 5px;
        position: relative;
        margin: 0;
        width: 40px;
        z-index: 1;

        @include breakpoints.media-tablet {
            height: 35px;
            right: 5px;
            width: 35px;

            &:focus-within~form {
                .search-field.search-active {
                    max-width: 300px;
                    width: 300px;
                }
            }
        }

        .search-field.search-active {
            &::placeholder {
                color: #999;
            }
        }
    }

    form.search-form {
        position: absolute;

        @include breakpoints.media-tablet {
            right: 0;
        }

        .search-field {
            border: none;
            border-radius: 25px;
            height: 40px;
            min-width: 40px;
            padding: 5px;
            text-indent: 35px;
            transition: width 0.3s ease-in-out;
            width: 0;
            z-index: 30;

            @include breakpoints.media-tablet {
                height: 35px;
                text-indent: 5px;
                min-width: 35px;
            }

            &::placeholder {
                color: transparent;
                transition: color .8s;
            }

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }

            &.search-active {
                max-width: calc(100vw - 60px);
                width: calc(100vw - 60px);

                @include breakpoints.media-tablet {
                    max-width: 300px;
                    width: 300px;
                }

                &::placeholder {
                    color: #999;
                }
            }
        }

        input.search-submit {
            display: none;
        }
    }
}

body:has(.main-navigation.toggled) {
    .site-search {
        z-index: 0;
    }
}

.search-autocomplete {
    background: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    left: 15px;
    list-style: none;
    margin: 0;
    padding: 15px;
    position: absolute;
    right: 15px;

    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            color: colors.$font-color-main;
        }
    }
}

.wp-block-search__inside-wrapper {
    position: relative;

    .wp-block-search__button {
        width: 80px;
    }

    .search-autocomplete {
        left: 0;
        right: 0;
        width: calc(100% - 90px);
    }
}

.error404 .site-main .search-form {
    display: flex;

    label {
        margin-right: 10px;

        input {
            height: 40px;
            padding: 0 10px;
            width: 240px;
            
            @include breakpoints.media-tablet {
                width: 300px;
            }
        }
    }
}