.site-main {
	background: #fff;
}

.sticky {
	display: block;
}

.post:last-of-type {
	margin-bottom: 0;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.blog,
.archive,
.search-results {
	.site-main {
		@include container-width;
	}

	.entry-header {
		.entry-title {
			margin-bottom: 5px;
			
			a {
				color: $font-color-main;
			}
		}
	}

	.entry-content {
		margin-top: 0;

		p {
			margin-top: 0;
		}
	}
}

.page > .entry-header {
	padding: 0 30px;
	@include container-width;
}

.entry-footer {
	@include container-width;
	
	.tags-links {
		display: block;
		margin-top: 15px;
	}
}

.error404 .page-header span {
	font-size: 80px;
	font-weight: 700;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.edit-link {
	margin-left: 10px;
}

.wp-block-pullquote {
	padding: 0;
}

.post-password-form {
	label,
	input {
		align-items: center;
		display: inline-flex;
	}

	input {
		border-radius: 0;
		height: 40px;
		margin-left: 5px;
		padding: 0 10px;
	}

	input[type="submit"] {
		border-radius: 0;
		margin: 10px 0 0 0;

		@include media-tablet {
			margin: 0;
		}
	}
}