.wp-block-group.is-style-column-padded,
.wp-block-column.is-style-column-padded {
    border: solid 1px #ddd;
    box-sizing: border-box;
    padding: 30px;
}

.wp-block-group.is-style-column-padded {
    margin-bottom: 30px;
}