@keyframes slide-to {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

// ::view-transition-old(root) {
//     animation: .3s fade-to;
// }

// ::view-transition-new(root) {
//     animation: .3s slide-to;
// }

.site-header {
    view-transition-name: header;
    contain: paint;
}

.site-footer {
    view-transition-name: footer;
    contain: paint;
}