@keyframes fade-from {
    from {
        opacity: 0;
    }
}

@keyframes fade-to {
    to {
        opacity: 1;
    }
}

@keyframes grow-from {
    from {
        transform: scale(0);
    }
}

@keyframes grow-to {
    to {
        transform: scale(1);
    }
}

::view-transition-old(root) {
    // animation: .3s fade-to;
}

::view-transition-new(root) {
    animation: .3s fade-to;
}

// ::view-transition-old(header) {
//     animation: 0s;
// }

// ::view-transition-new(header) {
//     animation: 0;
// }

// ::view-transition-old(thumbnail) {
//     animation: 0.3s grow-to;
// }

// ::view-transition-new(thumbnail) {
//     animation: 0.3s grow-from;
// }

.site-header {
    view-transition-name: header;
    contain: layout;
}

.site-footer {
    view-transition-name: footer;
    contain: layout;
}

// .hentry>a>figure>img,
// .single .hentry>figure>img {
//     view-transition-name: thumbnail;
//     contain: layout;
// }