@keyframes slide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

// ::view-transition-old(blog-content) {
//     animation: .2s slide-right;
// }

// ::view-transition-new(blog-content) {
//     animation: .2s slide-left;
// }

// .blog-content {
//     view-transition-name: blog-content;
//     contain: layout;
// }