.wp-block-comments {
    background: #eee;
    border-top: solid 2px #000;
    position: relative;

    &:before,
    &:after {
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 100%);
        content: "";
        display: block;
        height: 200px;
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
    }

    &:after {
        left: unset;
        right: 0;
    }
    
    .wp-block-comment-template {
        .wp-block-columns {
            padding-bottom: 15px;
            position: relative;

            &:after {
                background: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 100%);
                content: "";
                bottom: -7px;
                display: block;
                height: 2px;
                left: 0;
                position: absolute;
                width: 90%;
            }
        }

        ol {
            margin-left: 0;
            padding-left: 0;

        }
    }

    input[type="submit"] {
        background: #ddd;
        box-shadow: 2px 2px 0 #000;
    }
}

.comment-respond {
    background: #eee;

    input[type="submit"] {
        background: #ddd;
        box-shadow: 2px 2px 0 #000;
    }
}