body:has(.header-side) {
    .site-header {
        padding: 30px;
    }
}

body:has(.header-top) {
    .site-header {
        .header-content {
            @include content-width;
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 0px;
            padding: 0 30px;

            h1 {
                margin-bottom: 0;
            }
    
            .site-branding,
            .main-navigation {
                align-items: center;
                display: flex;
            }
        }

    }
}

.site-header {
    padding: 30px;
    
    .site-branding {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-top: 0;

            &.title-hidden {
                height: 0;
                margin: 0;
                text-indent: -8000px
            }
        }

        p {
            margin: 0;
        }
    }
}